.env
.env.*
!.env.example

node_modules/
dist/
dist_old/

*.log

*.sqlite
*.sqlite-shm
*.sqlite-wal

tmp/
uploads/

package.json.backup
tore --staged daktar_serial.sqlite daktar_serial.sqlite-shm daktar_serial.sqlite-wal
node_modules
